 
        
  
        <li>
            <p> Comment done by: <%= comment.user.name %></p>
            <p> <%= comment.content %></p>
            <% if(locals.user && (comment.user.id == locals.user.id || post.user.id == locals.user.id)){ %>
            <a href="posts/comments/delete/<%= comment.id %>">Delete Comment</a>
            <% } %>
        </li>
      
    
