<header class="height-test">
    <div id="head-container">
        <p id="company-name">Codeial</p>
        <div id="sign-information">
            <% if(!locals.user) { %>
            <a href="/users/sign-up">signUp</a>
            <a href="/users/sign-in">signIn</a>
            <% } else { %>
            <a href="/users/profile/<%=locals.user.id%>"> Hey <%= user.name %> </a>
            <a href="/users/sign-out">signOut</a>
            <% } %>
        </div>
    </div>
</header> 