<link rel="stylesheet" type="text/css" href="css/home.css">
<% if(locals.user) { %>
<div id="posts-form-container">
    <form id="post-submit-form" action="/posts/create" method="post">
        <textarea name="content" id="post-content" placeholder="Enter Text" cols="30" rows="3"></textarea>
        <button type="submit">Post</button>
    </form>
</div> 

<% } %>

<div id="posts-container">
    <ul id="posts">
        <% for(let post of posts) { %>
            <li>
                <p><%= post.user.name %></p>
                <p><%= post.content %></p>
            </li>
        <% } %>
    </ul>


</div>