<div id="reset-password-div-container">

    <% if(userToken) { %> 
        <form action="/users/change-password?token=<%=userToken.token%>" method="post">
        <input type="password" name="password" placeholder="Enter Password">
        <input type="password" name="confirm_password" placeholder="Confirm Password">
        <button  type="submit">Change Password </button>
    </form>
    <% } %>


</div>