<link href="<%=assetPath('css/sign-up.css')%>" rel="stylesheet" type="text/css">
<div id="sign-up-container">
    <h2>
        SignUp 
    </h2>
    <div id="form-container">
    <form id="sign-up"  method="post" action="/users/create">
    <input type="text" placeholder="Enter Name" name="name" required></input>
    <input type="email" placeholder="Enter Email" name="email" required></input>
    <input type="password" placeholder="Enter password" name="password" required></input>
    <input type="password" placeholder="Confirm password" name="confirm_password" required></input>
    <button type="submit"> Register </button>
    </form>
    </div>

    <p>
        <a href="/users/auth/google">Google sign-in/sign-up</a>
    </p>

</div>