<div id="sign-in-container">
    <h1>
        Login
    </h1>
    <div id="form-container">
    <form id="sign-up"  method="post" action="/users/login">
    <input type="email" placeholder="Enter Email" name="email" required></input>
    <input type="password" placeholder="Enter password" name="password" required></input>
    <button type="submit"> Login </button>
    </form>
    </div>
</div>