<script src="<%=assetPath('js/signIn.js')%>"></script>
<link href="<%=assetPath('css/sign-in.css')%>" type="text/css" rel="stylesheet">
<div id="sign-in-container">
    <h2>
        Login
    </h2>
    <div id="form-container">
    <form id="sign-up"  method="post" action="/users/login">
    <input type="email" placeholder="Enter Email" name="email" required></input>
    <input type="password" placeholder="Enter password" name="password" required></input>
    <button type="submit"> Login </button>
    <a id="forgot-password" href="">forgot password</a>
    </form>
    </div>

    <p>
        <a href="/users/auth/google">Google sign-in/sign-up</a>
    </p>
    <div id="forgot-password-div"></div>
  
   
</div>