#head-container{

    display:flex;
    background-color: blue;
    height:70px;
    justify-content: space-between;
    & > p{
        color:white;
        font-size: 2rem;
        font-weight: 1000;
        margin-left:20px;
        margin-top: 20px;
    }

    #sign-information
    {
        margin-right:10px;
        display:flex;
        a{
            display:inline-block;
            color:white;
            margin:25px 5px;
            text-decoration: none;
            font-size:1.2rem;
        }
    }





}