#footer-container {
  display: flex;
  background-color: grey;
  color: white; }
  #footer-container ul {
    list-style: none; }
    #footer-container ul a {
      color: white;
      text-decoration: none; }
